.player {
    display: flex;
    align-items: center;
    background-color: rgb(50, 50, 50, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 300px !important;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        object-fit: contain;
        border-radius: 100%;
        width: 70px;
        height: 70px;
    }
}

.player-active {
    background-color: orange !important;
}